*{
    margin: 0;
    padding: 0;
}

.header-menu{
    position: fixed;
    top: 0;
    left:0;
    background-color:black;
    width: 100%;
    height: 3.5rem;
    border-bottom: 4px solid rgb(248, 153, 118);
    z-index: 44;
}
.list-items .nav-bar ul {
    display: flex;
    position: absolute;
    top: 0.5rem;
    right:8rem;
    z-index: 10;
    padding: 0 2rem;
    justify-content: space-between;
    gap: 1rem;
}
.logo-img{
    padding: 2px 2px;
    margin: 3px 3px;
    height: 2.5rem;
    width: 6rem;
    border: none;
}
.list-items .nav-bar ul li{
    margin: 0;
}
.icons{
   position: absolute;
   right: 0rem;
   top: 1.2rem;
   color: white;
   font-size: 19px;
   justify-content: space-between;
   cursor: pointer;
 
}
.icons i{
    margin: 0 1rem;
}
.settings{
    margin-left: 6px;
}


.list-items .nav-bar ul li{
    margin: 4px 10px;
    padding:3px 1px;
    color: white;
    list-style: none;
}
.list-items .nav-bar ul li a{
    text-decoration: none;
    font-family:myFont;
    list-style: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;


}
.list-items .nav-bar ul li ul{
    position: absolute;
    z-index: 66;
    background-color: rgb(201, 198, 198);
    top: 4rem;
    display: flex;
}
.list-items .nav-bar ul li ul li{
    margin-left: 2px;
}
.bxs-down-arrow{
    font-size: 9px;
    z-index: 10;

}

.inside-navbar{
    position: absolute;
    top: 3.76rem;
    width: 100%;
    z-index: 60;
    height: 50vh;
    background-color: rgb(36, 34, 34);
    opacity: 0;
    box-shadow: 2px 2px 2px 2px rgb(68, 68, 68);
    transition: opacity .2s;
    
}
.inside-navbar .disc{
    margin-top: -7px;
    gap: 3rem;
    font-size: 14px;
}
.inside-navbar .disc a{
    color:rgb(71, 71, 71);
    font-size: 14px;
}
.nav-container1{
    position: absolute;
    top: 3rem;
    left: 2rem;
}
.nav-container2{
    position: absolute;
    top: 3rem;
    left: 19rem;
}
.nav-container3{
    position: absolute;
    top: 3rem;
    left: 39rem;
}
.nav ul li{
    margin: 14px 0;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
    text-transform:capitalize;
}
.nav .disc {
    gap: 3rem;
    margin-top: -40px;
    color: bisque;
    
}
.team-box .madrid{
    display: inline-flex;
}
.madrid-logo{
    width: 30px;
    height: 44px;
}
.inside-navbar.active{
    opacity: 1;
}
.settings-tab{
    position: absolute;
    top: 5rem;
    right: 1rem;
    background: rgb(59, 59, 59);
    padding: .8rem .8rem;
    border-radius: 25px;
    z-index: 2222;
    opacity: 0;
    transition: opacity .2s;
}
.settings-tab ul li{
    margin-top: 25px;
    list-style: none;
}
.settings-tab ul li a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}
.settings-tab.active{
    opacity: 1;
}
.search-box-container{
    width: 100%;
    max-height: 100%;
    height: 100vh;
    background-color: rgb(80, 79, 79);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .6s ease-in-out;
    

   

}
.search-box{
    margin: auto ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border: 25px;
}
.search,.search-btn{
    display: inline-flex;
    border: 2px solid rgb(77, 77, 77);
    padding: 1.5rem;
}
.search{
    border-right: none;
    width: 310px;
    height: 17px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.search:focus{
    font-size: 16px;
    outline: none;
    display: inline-flex;
    

}
.search::placeholder{
    font-size: 23px;
}
.search-btn{
    margin-bottom: 4px;
    margin-left: -.36rem;
    border-left: none;
    background: rgb(29, 29, 29);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px;
    padding-bottom: 23px;
    
}
.search-btn a{
    font-size: 18px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
.search-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 28px;
    align-self: flex-start;
    text-align: center;
    margin-left: 15px;
    gap: 3rem;

}
.close-icon{
    position: relative;
    top: 3rem;
    right: 2rem;
    border: 3px solid white;
    align-items:inherit;
    justify-content: space-between;
    width:30px;
    height: 30px;
    border-radius:50px;
    padding-top: 3px;
    font-size: 17px;
    cursor: pointer;

  
}
.search-box-container.activated{
    transform: scale(1);
    opacity: 1;
    transition: opacity .4s ease-in-out;


}
.epl-container{
    position: absolute;
    display: inline-block;
    top:  3.76rem;
    width: 100%;
    z-index: 60;
    height: 60vh;
    background-color: rgb(36, 34, 34);
    opacity: 0;
    box-shadow: 1px 1px 1px 1px rgb(68, 68, 68);
    transition: opacity .2s;
    font-size: 14px;
}
/*.culture:hover i{
    transform: translate(.5rem);
}*/
.epl-container.active{
    opacity: 1;
}
.info-box{
    position: absolute;
    top: 0.1rem;
    left: 2rem;
}

.team-box{
    position: absolute;
    top: .1rem;
    left: 23rem;
}
.players-box{
    position: absolute;
    top: .1rem;
    left: 44rem;
}
nav .edit li{
    margin: 22px 0;
    list-style: none;
}
nav .edit li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}
.epl-container.active{
    opacity: 1;

}
.disc{
    gap: 3rem;
    margin-top: -40px;
    color: rgb(114, 114, 114);
}
.epl-container nav ul li .teams1,.laliga-container nav ul li .teams1,.afcon-container nav ul li .teams1,.more-container nav ul li .teams1{
    color:rgb(71, 71, 71);
    row-gap:3px;
    font-family:myFont;
    font-size: 18px;
    text-transform: uppercase;
}
@font-face{
    font-family: myFont;
    src:url(google1.ttf);
}
.laliga-container{
    position: absolute;
    display: inline-block;
    top: 3.76rem;
    width: 100%;
    z-index: 60;
    height: 60vh;
    background-color: rgb(36, 34, 34);
    opacity: 0;
    box-shadow: 1px 1px 1px 1px rgb(68, 68, 68);
    transition: opacity .2s;
    font-size: 14px;
}
.laliga-container.active{
    opacity: 1;

}
.afcon-container{
    position: fixed;
    display: inline-block;
    top:  3.76rem;
    width: 100%;
    z-index: 60;
    height: 60vh;
    background-color: rgb(36, 34, 34);
    opacity: 0;
    box-shadow: 1px 1px 1px 1px rgb(68, 68, 68);
    transition: opacity .2s;
    font-size: 14px;  
}
.afcon-container.active{
    opacity: 1;

}

.greet-container{
    position: absolute;
    top: 1rem;
    right: 2rem;
    color:var(--text-color);
    overflow: hidden;
    
}

.more-container{
    position: absolute;
    display: inline-block;
    top:  3.76rem;
    width: 100%;
    z-index: 60;
    height: 60vh;
    background-color: rgb(36, 34, 34);
    opacity: 0;
    box-shadow: 1px 1px 1px 1px rgb(68, 68, 68);
    transition: opacity .2s;
    font-size: 12px;
}
.bundesliga{
    position: absolute;
    right: 16rem;
}
.more-container.active{
    opacity: 1;
}
html{
    scroll-behavior:smooth;
    transition: all .6s;
}

.body{
    background-color: var(--background-dark-color);
}
a{
    color:var(--text-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
::-webkit-scrollbar {
    width: .8rem;
    border-radius: 50px;
}
  
::-webkit-scrollbar-track {
    background:var(--background-dark-color);
}
  
::-webkit-scrollbar-thumb {
    background:rgb(248, 153, 118);
    border-radius: 50px;
    height: 15vh;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2e303b;
}
  
img{
    max-width: 100%;
    border:none;
}
:root{
    --dark-color:rgb(32, 32, 32);
    --background-dark-color: rgb(17, 16, 16);
    --text-color:white
}
.body.light-theme{
    --dark-color:white;
    --background-dark-color:rgba(224, 214, 214, 0.829);
    --text-color:black
}
.container{
    padding: 2rem 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    place-items: center;
    object-fit: center;
    display: grid;
    transform: translate(5.2%,0%);

  
}
.breaking-news{
    position: relative;
    left:0;
}
.headline-text{
    position: absolute;
    left: 4.2rem;
    padding-bottom: 1rem;
    font-size: 29px;
    font-family: myFont;
    color:var(--text-color);
    
}
.article-text{
    margin: 1rem 0;
    padding-left:.6rem;
}
.breaking-news-image{
    border: none;
}
.african-text button{
    padding: .4rem .4rem;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    margin: .9rem 1rem;
}
.african-text button a{
    font-size: 14px;
}
.african{
    margin: .5rem 0;
    font-family: myFont;
    font-size: 14px;
    color:var(--text-color);
    padding: 0 1rem;
}

.article-text button{
    margin: .5rem 0;
    padding: .4rem .5rem;
    font-weight: 300;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    cursor: pointer;
}
.african-icons{
    margin: .5rem 1rem;
    color: var(--text-color);
    font-size: 17px;
    font-family: myFont;
}
.btn{
    font-size: 12px;
    font-family: myFont;
    font-weight: 300;
}
.breaking-news-text{
    margin: 1rem 0;
    padding-left: 1.6rem;
}
.chelsea-news{
    color: var(--text-color);
    font-family: myFont;
    font-size: 23px;
}
.article-text{
    margin: 1rem 0;
    padding-left: 1.6rem;
}
.article-description{
    color:var(--text-color);
    font-family: myFont;
    font-size: 15px;
    font-weight: 100;
}
.breaking-news-article{
    height: 100vh;
    width: 100%;
}
.breaking-news-image{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.main-container{
    background-color:var(--dark-color);
    padding-bottom: 1.3rem 4rem;
    margin: 1rem ;
    border-radius: 3px;
    justify-content: space-between;
    
}
.breaking-news-image{
    width: 100%;
}
.top-stories-continued-content{
    padding-left: 1rem;
    padding-bottom: .1rem;
    margin-top: -2rem;
}
.greeting-text h3{
    position: absolute;
    top: 2.4rem;
    right:17rem;
    font-size: 16px;
    font-family: myFont;
    color:var(--text-color);
    /* -webkit-text-stroke:0.33vh black; */
}
/* .greeting-text h3::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    height:100%;
    -webkit-text-stroke:0vw red;
    border-right: 2px solid 6s linear infinite;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
} */

.top-story-images{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.top-stories-continued{
    background-color:var(--dark-color);
    padding-bottom: 0rem;
    margin: 1rem 0rem ;
    border-radius: 3px;
    justify-content: space-between;

}
.top-story-images{
    height: 32vh;
    width: 100%;
}
.article-icons{
    font-size: 14px;
    font-family: myFont;
    color:var(--text-color);
    display: flex;
    gap: 1rem;
    margin: 3rem 1.6rem;

}
.african{
    font-size: 15px;
}
.arsenal-boys{
    row-gap: 1rem;
    margin-top: 1rem;
    font-size: 13px;
}
.full-story-details{
    position: absolute;
    top: 46rem;
    right: 6rem;
    color: var(--text-color);
    font-size: 14px;
    display: inline-flex;
    font-family: myFont;
    gap: 1rem;
}
.full-story-details i{
    color:rgb(248, 153, 118);;
    font-size: 22px;
    position: relative;
    top: 0.5rem;
    margin: 0 .5rem;
}
.breaking-news-article-2{
    padding: 1rem 0;
    gap: 3rem;
    width: 30%;
}
.breaking-news-article-3{
    padding: 5rem 0;
    width: 30%;
}
.breaking-news-image-2{
    width: 100%;
}
.breaking-news-image-3{
    width: 100%;
}
.breaking-news-container{
    gap: 3rem;
    margin: 5rem;
}
.main-container-2{
    width: 50%;
    height: 50vh;
    margin: 1rem 5rem;
}
.main-container-3{
    width: 50%;
    height: 50vh;
    grid-column: -1/-2;
    margin: 1rem 5rem;
    margin-top: -22rem;
    padding-bottom: .4rem;
}

.main-container-1{
    width:110%;
    height: 100vh;
    padding-bottom:1.7rem;
    
}
.breaking-news-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
 
   
}
.story-container{
    position: absolute;
    font-size: 17px;
    left: 34rem;
    display: inline-flex;
    gap: .5rem;
    cursor: pointer;
    transition: ease-in-out .2s;
}
.ri-arrow-right-line{
    font-size: 24px;
    color:rgb(248, 153, 118);
}
.story-container:hover i{
    transform: translateX(.6rem);
}
.top-stories-continued-content{
    display: grid;
    position: absolute;
    left: 1rem;
    width: 76.4%;
    margin: -.8rem 1rem;
    column-gap: .6rem;
    grid-template-columns:repeat(3, 1fr);
}
.videos-container{
    padding-top: 16rem;
    transform: translate(-50% -50%);
    gap: 1rem;
    
}
.video-banner{
    margin: -5rem 12rem;
    color:var(--text-color);
    font-size: 36px;
    font-family: myFont;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 200;
}


.video-container-1{
    margin: 0 -30rem;
    width: 133%;
    height: 108vh;
}
.video-story{
    position: absolute;
    right: 24rem;
    bottom: 10rem;
    color:var(--text-color);
    z-index: 2333;
}
.video-article-description{
    font-size: 18px;
    font-weight: lighter;

}
.story-container-1{
    position: relative;
    margin-right: -30rem;

}
.article-text .button{
    padding: 5px 5px;
}

.video-article-icons.article-icons{
    margin: 1.6rem 2rem;
}
.video-heading{
    font-size: 30px;
}

.videos-stories-continued-content{
    position: relative;
    display: grid;
    top: -6rem;
    left: 10.3rem;
    width: 133%;
    grid-template-columns: repeat(2,1fr);
    margin-top: -3rem;
}
.video-stories-continued{
    padding-bottom: -2rem;
    margin-top: -0.1rem;
    padding-bottom: -5rem;
}
.real-madrid,.Roma,.haaland,.exclusive{
    font-size: 18px;
}
.video-story-images{
    height: 40vh;
}
.see-more-button{
    margin-top: -2rem;
    margin-left: 40%;
}
.see-more-button button{
    padding: .4rem 5rem;
    border: 3px rgb(248, 153, 118) solid;
    background-color: transparent;
    border-radius: 5px;
}
.see-more-button a{
    font-size: 17px;
    font-family: myFont;
}
.premier-league{
    padding: 7rem 0;
}
.premier-league-headline-text{
    margin: 2.5rem 13rem;
    color: var(--text-color);
    font-size: 39px;
    font-family: myFont;
}
.premier-league-container-1{
    width: 80%;
    margin: 1rem 30%; 
}
.premier-league-click{
    margin: .1rem;
}
.premier-league-image-1{
    height: 55vh;
}
.premier-league-full-story{
    margin: 0 4rem;
}
.text-header{
    letter-spacing: .4px;
    font-size: 23px;
    font-weight: 100;
}
.text-header-description{
    font-size: 16px;
}
.premier-league-continued-content{
    display: grid;
    position: absolute;
    left: 1rem;
    width: 40%;
    margin: 44rem 10.6rem;
    column-gap: .6rem;
    grid-template-columns:repeat(2, 1fr);
    height: 20vh;
}
.premier-league-00{
    height: 56vh;
}
.de-jong-text{
    margin-top: -.1rem;
}
.epl-images{
    height: 30vh;
}
.see-more-button-1{
    position: relative;
    top: 4rem;
    left: 17rem;

}
.newsletter-details{
    position: relative;
    top: 6rem;
    left: 20rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -7rem;
    
    
    
}
.newsletter-image{
    width: 150%;
   
}
.newsletter-img{
    height: 34vh;
    width: 150%;
}
.newsletter-follow{
    padding: 4rem 5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 24vh;
    background-color: black;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
}
.newsletter-details button{
    height: 2rem;
    width: 80%;
    background-color: rgb(194, 233, 104);
    margin: 1rem 1.5rem;
    cursor: pointer;
   
}
.newsletter-details button a{
    color: black;
    font-family: myFont;
    cursor: pointer;
}
.newletter-headline{
    font-family: myFont;
    font-size: 42px;
}
.newsletter-paragraph{
    font-family: myFont;
}
.see-more-button-2{
    margin: 5rem 0;
    transform: translate(0 -50%);
    margin-left: -47rem;
}
.fofana-icon{
    font-size: 15px;
    color: red;
    box-shadow: 1px 1px 1px 1px rgba(156, 153, 153, 0.034);
}
.fofana-stuff{
    display: inline-block;
    position: relative;
}
.footer-image{
    transform: translate(-40% 0);
    position: relative;
    margin: 3rem 34rem;
    padding: auto;
    width: 18%;
}
.footer-container{
    background-color: black;
    height: 50vh;
    transition: .4s smooth;
}
.goal-logo{
    width: 80%;
    height: 17vh;
}
.footer-details ul{
    position: relative;
    right: 1rem;
    padding: 0 8.3rem;
    column-gap: .5rem;
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem;
    color: var(--text-color);
}
.footer-details ul li a{
    color:white;
    font-size: 18px;
    font-family: myFont;

}
.sun-icon{
    font-size: 13px;
    background: black;
    padding: .2rem .2rem;
    color:white;
    border:none;
}

.moon-icon{
    display: none;
    font-size: 13px;
    background: black;
    padding: .2rem .2rem;
    color:white;
    border:none;
    outline: none;
    overflow: hidden;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}
.to-top{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    transition: all .4s;
    opacity: 0;

}
#header{
    transition: all .4s;
}
.to-top-button{
    font-size: 2rem;
    padding: .3rem .3rem;
    border: 2px solid rgb(248, 153, 118);
    transition: .26s ease-in-out;
    color: rgb(248, 153, 118);  
}
.to-top.active{
    opacity: 1;
}
.nigeria{
    margin: 1rem auto;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    padding: 0 40rem;
    font-size: 19px;
    font-family: myFont;
}
.copyright-text{
    color: white;
    padding: 1.2rem 0;
    padding-left:8.5rem;
    font-size: 18px;
    font-family: myFont;
}
.place-items-center{
    display: inline-flex;
    border: none;
    cursor: pointer;
}
.line{
    color: white;
}
.copyright-symbol{
    font-size: 19px;
}


